body{
    width: 80%;
    /* margin-left: 30px; */
    margin: auto;
    border: 2px solid;
}
/* Navigation bar */
#navbar{
    margin-top: 20px;
    background-color: whitesmoke;
}
#navbar-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 20px 30px 20px 20px;
}
.navbar-list-div{
    display: flex;
     gap: 30px;
}
.bi{
    font-size: 30px;
}
.bi-caret-left{
    margin-right: -18px;
    color: red;
}
.navbar-btn{
    border: transparent;
    background-color: transparent;
    font-size: 18px;
}
/* search section */
h3{
    margin-left: 20px;
}
h3>a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
/* Grid Section */
#Grid-carousal{
    margin-left: 20px;
display: grid;
grid-template-columns: auto auto;
gap: 100px;

}
#paragraph>h1{
margin-bottom: 0px;
}
#paragraph>p{
    margin-bottom: 0px;
    font-weight: bold;
}
.bi-arrow-right{
    margin-left: 50px;
    font-size: 25px;
}
#para-btn{
    margin-right: 30px;
    margin-top: 150px;
    width: 40%;
    background-color: #D9D9D9;
    padding: 0px 35px 0px 0px;
    font-size: 20px;
    border: transparent;
}

#carousel{
    max-width: 80%;
}
.carousel-control-btn{
  border: none transparent;
    background-color: transparent;
}
.carousel-control-btn2{
     border: none transparent;
    background-color: transparent;
}
.carousel-item>img{
    border: 2px solid black;
    width: 300px;
    height: 400px;
}

/* NEW THIS WEEEK */

#carouselExampleCaptions{
    margin-left: 10%;
    margin-right: 10%;
    
}
.carouselImage.active{
    display: flex;
    gap: 15%;
}
#carousel-control{
    display: flex;
    justify-content: center;
}
.carousel-control-prev1{
    border: none transparent;
    background-color: transparent;
}
.carousel-control-next1{
    border: none transparent;
    background-color: transparent;
}

/* XIV SECTION */

#xivSectin-catagory-filter{
    list-style: none;
    padding: 0px;
display: flex;
gap: 10px;
}
/* XIV SECTION GRID */

#xivSectin-grid{
display: grid;
grid-template-columns: auto auto auto;
margin-left: 10%;
margin-right: 10%;
}
#xivSectin-grid-card-text{
    display: flex;
}
#xivSectin-grid-card-text>p{
    margin-left: 15%;
}
#xivSectin-more{
    display: flex;
    justify-content: center;
}
#xivSectin-more>p{
    margin-bottom: 0px;
}
#xivSectin-more-btn{
  display: flex;
    justify-content: center;
}
#xivSectin-more-btn>button{
    border: none; 
    background-color: transparent;
    margin-top: 0px;
}
/* FAsion TEXT  */

#arpoachTFshion{
    width: 50%;
    margin-left: 25%;
    margin-right:25% ;
}
#random-Photots{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

#random-Photots>img{
    width: 24%;
}
#random-Photots-img1{
    margin-top: 100px;
}
#random-Photots-img2{
    margin-top: -200px;
}
#random-Photots-img3{
    margin-top: 100px;
}
#random-Photots-img4{
    margin-top: -200px;
}